.filter-input {
  margin: 16px;
}
.table-container {
  margin: 16px;
}

.mat-elevation-z8 {
  border-radius: 8px;
}

html,
body {
  height: 100%;
}
body {
  margin: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
